

FLASK_ENV=development
SECRET_KEY=change-me-to-a-random-string

MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=rvlgeoloc

POSTGIS_USER=postgres
POSTGIS_PASSWORD=
POSTGIS_HOST=localhost
POSTGIS_PORT=5432
POSTGIS_DATABASE=rvlgeoloc
