<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoLoc</title>    
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/' + pagina + '.css') }}"
    />
</head>
<body>
     <header>
        <h1 class="navbar-titulo navbar-texto"><a href="{{url_for('index')}}">RVL - GeoLoc</a></h1>
        <div class="options">
            <h1 class=" navbar-texto"><a href="{{url_for('perfil')}}">Perfil</a></h1>
            <h1 class=" navbar-texto"><a href="{{url_for('mapa')}}">Mapa</a></h1>
        </div>
    </header>
    {% block content %}

    {% endblock content %}
    <footer>
        <h5>Dados: Serviço Geológico Brasileiro, OpenStreetMap.</h5>
    </footer>
</body>
</html>