{% extends "base.html" %} {% block content %}

{% with messages = get_flashed_messages(with_categories = true)%}
{% for category, message in messages %}
<div class="alert alert-{{category}}">
  {{message}}
</div>
{%endfor%}
{% endwith %}
<form action="{{url_for('cadastro')}}" method="post">
  <label> nome </label>
  <input
    type="text"
    name="nome"
    placeholder="Insira seu nome."
    required
    class="form-control"
  />

  <label> email </label>
  <input
    type="text"
    name="email"
    placeholder="Insira seu email"
    required
    class="form-control"
  />

  <label> Senha </label>
  <input
    type="password"
    name="senha"
    placeholder="Insira sua senha"
    required
    class="form-control"
  />
  <input type="submit" value="Cadastrar" class="botaoCadastro" />
  <input type="reset" value="Limpar" class="botaoLimpar" />
</form>

{% endblock content %}
