{% extends "base.html" %} {% block content %}

<form action="{{url_for('index')}}" method="post">
  <label> nome </label>
  <input
    type="text"
    name="nome"
    placeholder="Insira seu nome."
    required
    class="form-control"
  />

  <label> email </label>
  <input
    type="text"
    name="email"
    placeholder="Insira seu email"
    required
    class="form-control"
  />

  <label> Senha </label>
  <input
    type="password"
    name="Senha"
    placeholder="Insira sua senha"
    required
    class="form-control"
  />
  <input type="submit" value="Cadastrar" class="botaoCadastro" />
  <input type="reset" value="Limpar" class="botaoLimpar" />
</form>

{% endblock content %}
