{% extends "base.html" %} {% block content %}
<div class="mascara">
  <div class="imagem-fundo">
    <div class="texto">
      <div class="titulo">
        <h1 class="titulo-principal">RVL - GeoLoc</h1>
      </div>
      <div class="subtitulo">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ab
          alias, quia autem repellat consequuntur sapiente impedit distinctio ex
          doloremque nostrum modi omnis fugit quisquam molestias quibusdam
          porro. Fugit, provident.
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="parte-1">

</div>
<hr>
<div class="parte-2">

</div>
{% endblock content %}
