{% extends "base.html" %}
{% block content %}

{% set faq_items = [
  {
    'question': 'O que é o RVL-GeoLoc?',
    'summary': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci itaque qui deserunt nam officiis necessitatibus aspernatur fuga possimus voluptatem incidunt deleniti totam, fugit voluptas magnam, accusamus cum, sed ducimus porro!',
    'points': ['Lorem ipsum dolor sit, amet consectetur adipisicing elit.', 'Adipisci, eos consequuntur', 'laboriosam hic quod ut. Dolorem eius minus ea', 'last pointer'],
  },
  {
    'question': 'Como o projeto foi construído?',
    'summary': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci itaque qui deserunt nam officiis necessitatibus aspernatur fuga possimus voluptatem incidunt deleniti totam, fugit voluptas magnam, accusamus cum, sed ducimus porro!',
    'points': ['Lorem ipsum dolor sit, amet consectetur adipisicing elit.', 'Adipisci, eos consequuntur', 'laboriosam hic quod ut. Dolorem eius minus ea', 'last pointer'],
  },
  {
    'question': 'Para que serve?',
    'summary': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci itaque qui deserunt nam officiis necessitatibus aspernatur fuga possimus voluptatem incidunt deleniti totam, fugit voluptas magnam, accusamus cum, sed ducimus porro!',
    'points': ['Lorem ipsum dolor sit, amet consectetur adipisicing elit.', 'Adipisci, eos consequuntur', 'laboriosam hic quod ut. Dolorem eius minus ea', 'last pointer'],
  },
] %}

<div class="mascara">
  <div class="imagem-fundo">
    <div class="texto">
      <div class="titulo">
        <h1>RVL - GeoLoc</h1>
      </div>
      <div class="subtitulo">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          ab alias, quia autem repellat consequuntur sapiente impedit
          distinctio ex doloremque nostrum modi omnis fugit quisquam
          molestias quibusdam porro. Fugit, provident.
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="parte-1">
  <div class="caixa">
    {% for item in faq_items %}
    <div class="items">
      <p class="indice">{{ "%02d"|format(loop.index) }}</p>
      <p class="texto-perguntas">{{ item.question }}</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="icone"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
        />
      </svg>
    </div>
    <div class="caixa-interna">
      <div class="interno">
        <p>{{ item.summary }}</p>
        <ul>
          {% for point in item.points %}
          <li>{{ point }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<hr />
<div class="parte-2"></div>

<script src="{{ url_for('static', filename='js/faq-accordion.js') }}"></script>
{% endblock content %}
